.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    color: var(--color-fg)
}

.icon {
    font-size: 1em;
    transform: translateY(0.2em);
}

.text {
    display: flex;
    flex-wrap: nowrap;
    font-size: 1.7em;
    letter-spacing: -0.05em;
}

.firstLetter {
    display: inline-block;
    transform: translateX(0.2em);
}


.small {
    font-size: 12px;
}

.medium {
    font-size: 18px;
}

.large {
    font-size: 48px;
}

.extraLarge {
    font-size: 64px;
}